.container.driverContainer {
    width: 80%;
    height: 100%;
    float: left;
    margin-left: 19%;
    margin-top: 100px;
}


.table .thead-dark th {
    color: #fff;
    background-color: #181a4a;
    border-color: #181a4a;
}